<!DOCTYPE html>
<html>
<body bgcolor="#E6E6FA">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome! and hello man{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!--    <link rel="stylesheet" type="text/css" href="{{asset('')}}">   -->
    </head>
    <body>
        {% block body %}

 
{% endblock %}
        {% block javascripts %}{% endblock %}
<img src="http://www.nyan.cat/cats/original.gif" alt="Mountain View">
<footer>
dupa
</footer>
    </body>
</html>
