			
			{% extends 'base.html.twig' %}



			{% block body %}
   			 
   			 {% block header %}
   			 {% endblock %}
			<html>
<body>

			<div class="container">

				<img src="http://www.rentcar.pl/blog/wp-content/uploads/2015/09/pkw.png" alt="main_photo">

			</div>



   			 <div class="container">
			<div>

				<h1>Auto-RentHaus</h1>
				<h3>Drive with the Best</h3>
				<h4>Brol - Ignasik - Konieczny</h4>
			</div>
			</div>

			<div class="container">
			<a href="http://v-ie.uek.krakow.pl/~s180624/app_dev.php/login" class="btn btn-primary">Zaloguj się</a>
			</div>
   			 </br></br>

   			 <div class="container">
			<a href="http://v-ie.uek.krakow.pl/~s180624/app_dev.php/register" class="btn btn-info">Zarejestruj się</a>
			</div>
			<br>



   	

</body>
			</html>

			{% endblock %}

			